# =========================================
# Python
# =========================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =========================================
# PyInstaller / Nuitka
# =========================================

# PyInstaller
*.spec
*.exe

# Nuitka
*.build/
*.dist/
*.onefile-build/
.Nuitka_Build/
Nuitka_Build/

# =========================================
# Project-specific ignores
# =========================================

# Ignore the old code backup folder
# src/old/

# =========================================
# IDE / Editor specific
# =========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

